.bg {
  background: linear-gradient(
    91deg,
    rgba(0, 88, 159, 0.13) 4.38%,
    rgba(0, 32, 57, 0.17) 95.62%
  );
}

.link {
  color: var(--mantine-color-gray-0);
  text-decoration: none;
  transition: ease 0.3s;

  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
}
